# Node.js
node_modules/
dist/
build/
.next/
out/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Large Files & Datasets
*.csv
*.ipynb
**/data/archive/
**/data/*.csv
**/node_modules/
**/venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
